body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
  min-height: 100vh;
  margin: 0; 
  font-family: Arial, sans-serif; 
  background-color: rgb(1, 1, 1);
  padding: 0 50px; 
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;[cite: 5]
  padding: 10px;[cite: 5]
  width: 100%;              
  box-sizing: border-box;   
}
h1 {
  color: #ff031c;
  text-align: center;
}
h2 {
  color: #ffffff;
  text-align:left;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.spécial, .spécial2 {
  display: flex;
  align-items: center;
  gap: 15px;                
  margin: 10px 100;
  padding: 0 50px; 
  box-sizing: border-box;
}