body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
  min-height: 100vh;
  margin: 0; 
  font-family: Arial, sans-serif; 
  background-color: rgb(1, 1, 1);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
h1 {
  color: #ff031c;
  text-align: center;
}
h2 {
  color: #ffffff;
  text-align:left;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.spécial {
  display: flex;
  align-items: center;;
  padding: 10px;
}
.spécial2 {
  display: flex;
  align-items: center;;
  padding: 10px;
}