body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
  min-height: 100vh;
  margin: 0; 
  font-family: Arial, sans-serif; 
  color: white; 
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;[cite: 5]
  padding: 10px;[cite: 5]
  width: 100%;              
  box-sizing: border-box;   
}
h1 {
  color: #ff031c;
  text-align: center;
  margin-top: 20px;
}
h2 {
  color: #000000;
  text-align:left;
  margin-top: 20px;
}
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}